/* Reset margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), /* Semi-transparent black overlay */
    url(https://cdn.sanity.io/images/cxgd3urn/production/1eae8d36da0cb97b9b9dbec959e36cce1c051b60-3543x2020.jpg?w=1200&h=684&fit=crop&auto=format);
    padding-bottom: 100px;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff; 
    position: relative;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    padding: 15px 30px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 30px;
}

.nav-right {
    display: flex; 
    align-items: center; 
}


nav a:hover {
    background-color: rgba(30, 180, 17, 0.63);
    color: #000;
}

.about-container {
    background-color: rgba(90, 18, 18, 0.795); /* Semi-transparent black background */
    padding: 20px; /* Padding around the content */
    margin: 20px auto; /* Center the box with margin */
    border-radius: 10px; /* Optional: Rounded corners */
}

div .about-content {
    margin-bottom: 30px;
    display: flex;
}


.about {
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
    padding: 20px;
    text-align: center;
}

.box {

    margin: 0 auto; /* Center the box within the section */
    text-align: center; /* Center text within the box */
}

.box h1 {

    font-size: 2.5em; /* Size of the main title */
    margin-bottom: 5px; /* Space below the title */
}

/* Background Image Styling */
.background-image {
    width: 100%;
    height: auto;
}

/* Content Box Styling */
.content {
    display: flex; /* Flexbox for layout */
    justify-content: space-around; /* Space between boxes */
    margin-top: 20px; /* Space above boxes */
}

.box {
    background-color: #000000; /* Solid black background for boxes */
    border-radius: 20px; /* Rounded corners */
    margin-top: 40px;
    padding: 20px;
    width: 45%; /* Adjust width for boxes */
}

.box h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.box p {
    font-size: 1em;
    line-height: 1.6;
}

.gradient-background {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(150, 0, 0));
    padding: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    margin-top: 20px;
}

footer {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}
 