* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(/assets/img/Basquiat_1.jpg);
    padding-bottom: 120px;
    background-size: 1900px; 
    background-position: center;
    background-repeat: repeat;
    color: #ffffff; 
    position: relative;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    padding: 15px 30px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 30px;
}

.nav-right {
    display: flex; 
    align-items: center; 
}


nav a:hover {
    background-color: rgba(30, 180, 17, 0.63);
    color: #000;
}

.about-container {
    background-color: rgba(80, 13, 13, 0.884);
    padding: 20px;
    margin: 0px auto; 
    border-radius: 10px;
}

.about-content {
    margin-bottom: 30px;
    display: flex;
}


.about {
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
    padding: 20px;
    text-align: center;
}

.box {
    margin: 0 auto;
    text-align: center;
}

.box h1 {
    font-size: 2.5em;
    margin-bottom: 5px;
}


.background-image {
    width: 100%;
    height: auto;
}


.content {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.box {
    background-color: #000000;
    border-radius: 20px;
    margin-top: 40px;
    padding: 20px;
    width: 45%;
}

.box h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.box p {
    font-size: 1em;
    line-height: 1.6;
}

.gradient-background {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(150, 0, 0));
    padding: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    margin-top: 20px;
}

.about-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.about-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.box-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.842);
    border-radius: 10px;
    width: 90%; 
}

.text-left {
    width: 90%;
    padding-right: 10px;
    color: #ffffff;
    text-align: center;
}


.image-right {
    width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-right img {
    max-width: 100%;
    border-radius: 10px;
}

h2 {
    font-size: 1em;
}

h3{
    font-size: 2em;
}

p {
    font-size: 1.5em;
    line-height: 1.6; 
}

footer {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    color: white; 
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
 