* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

header {
    background-color: black
}


.header {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btn {
    border: 1px black solid;
    /* padding, margin */
    /* 1 applies to all */
    /* 2 x y */
    /* 3 top x bottom */
    padding: 1rem 2rem;
    margin: .5rem;
    border-radius: 20px;
    

    &.active {
        background-color: rgb(255, 255, 255);
        color: black;
        & p {
            color: black;
        }
    }
}

